.container {
    padding: 40px 24px;
    width: 100vw;
    height: auto;
    background-color: var(--dark-10);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container__card__header {
    font-size: 12px;
    font-family: var(--secondary-font);
    display: flex;
    font-weight: 500;
    color: var(--brand-color);
    justify-content: space-between;
    svg {
        width: 25px;
        height: 25px;
    }
}
.container__card {
    background-color: var(--dark-20);
    padding: 32px 24px;
    border: 2px solid var(--dark-40);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    h2 {
        color: var(--dark-60);
        line-height: 150%;
        font-size: 20px;
        font-family: var(--primary-font);
    }
    p {
        font-size: 14px;
        color: var(--dark-50);
        line-height: 160%;
        font-family: var(--secondary-font);
    }
}
.container__card:hover {
    border: 2px solid var(--brand-color);;
}
#icon {
    fill: var(--dark-20);
    stroke: var(--brand-color);
    stroke-width: 7;
    transition: fill 0.3s;
    cursor: pointer;
}
#icon.filled,
#icon:hover {
    fill: var(--brand-color);
}
@media screen and (min-width: 1024px) {
    .container {
        padding: 48px 20%;
    }
}
@media screen and (min-width: 1728px) {
    .container {
        padding: 48px 400px;
    }
}